/* style */



html
{
margin: 0px;
padding: 0px;
overflow-x: hidden;
scrollbar-width: none ;
overflow: -moz-scrollbars-none;
-ms-overflow-style: none;
    scrollbar-width: none;
cursor:none;
}

body
{
margin: 0px;
padding: 0px;
cursor:none;

scrollbar-width: none ;
overflow: -moz-scrollbars-none;
-ms-overflow-style: none;
    scrollbar-width: none;

}


a:hover
{
cursor: none;
}


.element::-webkit-scrollbar 
{ width: 0 !important 
}
::-webkit-scrollbar {
    display: none;
}

 @font-face {
font-family: CovesBold;
src: url('fonts/CovesBold.otf') format('opentype');

 }


  @font-face {
 font-family: CovesLight;
 src: url('fonts/CovesLight.otf') format('opentype');

  }



.headarea
{

background-color: #f1f1f1;
width:100%;
height:100%;
position:absolute;
top: 0px;
font-family: CovesBold;
display: flex;
    justify-content: center;
}


.menurow
{
width:100%;
height: 80px;
top:0px;
position: fixed;
display: flex;
justify-content: center;
align-items: center;
position: fixed;
z-index: 100;
}



.menumaxcontent
{

width:100%;
height:100%;
max-width: 1260px;
padding: 0px 30px;
display: flex;
    align-items: center;
justify-content: space-between;
}



.menu_logo
{

width: 60px;
    fill: #333;
    height: 50px;
    float: left;
    overflow: hidden;

}




/* ------------------------------------------------------Burger Menu ----------------------------- */

.burgermenu_field
{
width: 25px;
height: 25px;
float: right;

/* margin-top: 30px; */
    padding: 0px;
    background-color: transparent;
    border: 0px solid;
outline: none;
transition: 0.3s;
cursor: none;
}


.burgermenu_lineholder
{
transition: 0.35s ease-in-out;

}


#bml_1
{
margin-top: 8px;
}

#bml_2
{
margin-top: 8px;
}



.burgermenu_field:hover 
{

/* cursor: pointer; */
cursor: none;
}

.burgermenu_field:hover .burgermenu_line
{

background-color: #a07fa6;

}

.burgermenu_field:hover #bml_0:after
{

background-color: #a07fa6;

}

.burgermenu_field:hover #bml_0:before
{

background-color: #a07fa6;

}

#bml_0
{

}


.burgermenu_line
{
width: 100%;
height: 2px;
display: block;
pointer-events:none;
transition: 0.3s ease-in-out;
outline: none;
}



.burgermenu_line:after
{
transition:0.3s ease-in-out;
content: '';
    display: inline-block;
    width: 25px;
    height: 2px;
    position: absolute;
    margin-top: 10px;
margin-left: -13px;


}

.burgermenu_line:before
{
transition:0.3s ease-in-out;
content: '';
    display: inline-block;
    width: 25px;
    height: 2px;
    position: absolute;
    margin-top: -10px;
  margin-left: -13px;

}


/* --------------------------- MENU LINE COLOR ------------------------ */
.bml_color
{
background-color: #333;
}

.bml_color:before
{
background-color: #333;
}

.bml_color:after
{
background-color: #333;
}





.bml_color_open
{
background-color: #a07fa6;
}

.bml_color_open:before
{
background-color: #a07fa6;
}

.bml_color_open:after
{
background-color: #a07fa6;
}




/* --------- */


/* ------------------------- ANIMATIONS MENU ----------------------- */


.bmactive .burgermenu_line:before
{


animation-name: bmenulineanim;
animation-duration: 0.5s;
animation-fill-mode: forwards;


}


.bmactive .burgermenu_line:after
{


animation-name: bmenulineanim_3;
animation-duration: 1s;
animation-fill-mode: forwards;


}




.bmactive .burgermenu_line
{


animation-name: bmenulineanim_2;
animation-duration: 0.5s;
animation-fill-mode: forwards;
animation-delay: 0.3s;

}




@keyframes bmenulineanim
{
0%{margin-top: ;}
50%{ margin-top: 0px;}

100%{ margin-top: 0px;}



}

@keyframes bmenulineanim_2
{
0%{transform:;}



100%{ transform:rotate(225deg);}



}

@keyframes bmenulineanim_3
{
0%{margin-top: ;transform:;}

25%{ margin-top:0px;transform:;animation-delay: 0.3s;}
50%{ margin-top:0px;transform:rotate(0deg);}
100%{ margin-top:0px; transform:rotate(90deg);}



}






/* ------------------------- ANIMATION END ---------------------- */


/* ------------------------- ANIMATIONS REVERSE MENU ----------------------- */

.bmactive_re .burgermenu_line:before
{


animation-name: bmenulineanim_re;
animation-duration: 0.9s;
animation-fill-mode: forwards;


}


.bmactive_re .burgermenu_line:after
{


animation-name: bmenulineanim_3_re;
animation-duration: 0.9s;
animation-fill-mode: forwards;


}

.bmactive_re .burgermenu_line
{


animation-name: bmenulineanim_2_re;
animation-duration: 0.5s;
animation-fill-mode: forwards;
animation-delay: 0.4s;
transform:rotate(225deg);
}




@keyframes bmenulineanim_3_re
{
0%{margin-top:0px; transform:rotate(90deg);}

25%{margin-top:0px;transform:rotate(0deg);}
50%{ margin-top:0px;transform:rotate(0deg);}
100%{ margin-top:; transform:;}



}



@keyframes bmenulineanim_2_re
{
0%{transform:rotate(225deg);}


90%{transform:rotate(0deg);}

100%{ transform:rotate(0deg);}



}



@keyframes bmenulineanim_re
{
0%{margin-top: 0px;}
50%{ margin-top: 0px; transform:rotate(0deg);}

100%{ margin-top: ;transform:rotate(0deg);}



}

/* ------------------------- ANIMATION REVERSE END ---------------------- */




/* ---------------------------------------------------- BurgerMenu END! END! END! ------------------------- */




.cursor
{
width: 50px;
height: 50px;

display:flex;
justify-content: center;
align-items: center;

position: absolute;
box-sizing: border-box;
transition: 0.1s;
transform: translate(-50%,-50%);
z-index: 1000;

pointer-events: none; 

}

.cursor2
{
backdrop-filter: blur(5px);
border: 1px solid #333;
border-radius: 50%;
width: 8px;
height: 8px;
transition: 0.5s;
}

.sidemenu
{
position:fixed;
/* width: 33%; */
width: 0%;
height: 100%;
right: 0px;
top: 0px;
background-color: #313131;
opacity: 0;
z-index: 90;
transition: 0.3s ease-in-out;
transition-delay: 0.3s;
}

.content1260header
{
width: 100%;
max-width: 1260px;
top:80px;
padding: 0px 30px;
margin-top: 80px;
padding-top:100px;
display:flex;

}

.social_media_area
{
width: 50px;
height: 100%;
float:left;
display: flex;
align-items:center;

}


.sm_sidebox
{
width: 100%;



}

.socialmedia
{
width: 20px;
height: 20px;
margin: 30px 15px;

}

#instagram
{
width: 100%;
height: 100%;
fill: #333;
}


#facebook
{
width: 100%;
height: 100%;
fill: #333;
}

#pinterest
{
width: 100%;
height: 100%;
fill: #333;
}



.header_mainarea
{
width: 1100px;
/* height: 100%; */
display:flex;
padding-top:50px;
}

.contentleft50
{
width: 50%;
/* height: 100%; */
left: 0px;
/* background-color:#ff000055; */
padding-left:50px;

}


.contentright50
{
width: 50%;
/* height: 100%; */
right: 0px;
/* background-color:#ff000088; */
padding-right:50px;
}


.brillen_linie
{
width: 450px;
height: 350px;
margin-left: 25px;
transform:rotatey(180deg);
fill: #d7d7d7;
position:absolute;

}


.brillen_linie2
{
width: 450px;
height: 350px;
margin-right: 25px;
fill: #d7d7d7;
float: right;

}


.brillenslider
{
width: 450px;
height: 350px;
clip-path: url(#svgp);
display: flex;
overflow:hidden;
animation-name: brsliderin;
animation-fill-mode: forwards;
animation-timing-function: ease;
opacity: 0;
animation-delay: 1s;
animation-duration: 1s;
}

@keyframes brsliderin
{

0%{opacity: 0; margin-top: -25px;
    margin-left: 22px;}

100%{opacity: 1; margin-top: ;
    margin-left: ;}

}


#svgp
{
width: 450px;
height: 350px;

}

.maskpath
{
transform: matrix(-5.1, 0, 0 , 5.1, 450, 9);
}

.sliderbox
{
width: 100%;
height: 100%;
background-color: #0000ff55;
margin: 0px;
overflow-x: scroll;
overflow-y: hidden;
display: flex;
 -webkit-overflow-scrolling: touch;
 scroll-snap-type: x mandatory; 
overflow: -moz-scrollbars-none;
-ms-overflow-style: none;
    scrollbar-width: none;
-moz-scrollbars-none;
scroll-behavior: smooth;
transition: 0.3s;
}


.slideblur
{
filter: blur(8px);
transition: 0.3s;

}


.sliderbox > div 
{
 
  scroll-snap-align: start;
}

@supports (scroll-snap-type) 
{
.slider > a 
{
display: none;

}
}

.sliderboxselected > div:target
{
animation-name:slowzoom;
animation-duration: 10s;
animation-direction: normal;
animation-fill-mode: forwards;
nimation-timing-function: ease-in-out;
animation-delay: 1s;
}

@keyframes slowzoom
{
0%{transform:scale(1);}
100%{transform:scale(1.2); animation-playstate: stop;}

}

.sliderimage
{
width: 450px;
height: 350px;
}

.titletextbox
{
width: 450px;
    height: 275px;

    margin-left: 50px;
    margin-top: 120px;

}



.titlebig
{
font-size: 70px;
font-family: covesBold;
text-transform: uppercase;
position:absolute;
    letter-spacing: 6.2px;
-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #a07fa6;
color: #a07fa6;
padding: 0px 4px;
line-height: 1;
}


.titlesmall
{
font-size: 55px;
font-family: covesLight;
text-transform: uppercase;
position:absolute;

    letter-spacing: 6.2px;

color: #646464;
padding: 0px 4px;
margin-top: 140px;
overflow: hidden;
}


.subtext1
{
letter-spacing: 9.2px;

}


.subtext2
{
line-height: 0.9;
}



.titelbox_render
{

    width: 450px;
    height: 140px;
    overflow: hidden;
    position: absolute;
}

.titelbox_render2
{


    height: 49px;
    width: 450px;
    overflow: hidden;
}



/* --------------------------- title animation ------------------- */




.tibi_anim
{
animation-name: tibianim;
animation-duration: 2s;
opacity: 0;
transform: matrix(1,0,0,1,0,140);
animation-fill-mode: forwards;
animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

@keyframes tibianim
{

0%{ transform: matrix(1,0,0,1,0,140); opacity: 0;}


100%{ transform: matrix(1,0,0,1,0,0); opacity: 1;}

}


.tism_anim
{
animation-name: tismanim;
animation-duration: 1s;
opacity: 0;
transform: matrix(1, 0, 0, 1, 0, -50);
animation-fill-mode: forwards;
animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

@keyframes tismanim
{

0%{ transform: matrix(1, 0, 0, 1, 0, -50);; opacity: 0;}


100%{ transform: matrix(1,0,0,1,0,0); opacity: 1;}

}



.tism_anim2
{
animation-name: tismanim;
animation-duration: 1s;
opacity: 0;
transform: matrix(1, 0, 0, 1, 0, -50);
animation-fill-mode: forwards;
animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
animation-delay: 1s;
}





.tibi_anim_slide
{
animation-name: tibianimslide;
animation-duration: 1s;
opacity: 1;
animation-fill-mode: forwards;
animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

@keyframes tibianimslide
{

0%{ transform: scaleX(1); opacity: 1;}


50%{ transform: scaleX(0); opacity: 0;}

100%{ transform: scaleX(1); opacity: 1;}

}



.tism_anim_slide
{
animation-name: tismanimslide;
animation-duration: 1s;
opacity: 1;
transform: matrix(1, 0, 0, 1, 0, 0);
animation-fill-mode: forwards;
animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

@keyframes tismanimslide
{

0%{ transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;}


50%{ transform: matrix(1,0,0,1,0,-50); opacity: 0;}


100%{ transform: matrix(1,0,0,1,0,0); opacity: 1;}
}





.tism_anim2_slide
{
animation-name: tismanimslide2;
animation-duration: 1.5s;
opacity: 1;
transform: matrix(1, 0, 0, 1, 0, 0);
animation-fill-mode: forwards;
animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
animation-delay: 0s;
}

@keyframes tismanimslide2
{

0%{ transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;}


40%{  transform: matrix(1, 0, 0, 1, 0, 0);opacity: 0;}
41%{  transform: matrix(1, 0, 0, 1, 0, -50);opacity: 0;}

100%{ transform: matrix(1,0,0,1,0,0); opacity: 1;}
}





/* ----------------------------------------------------------- */



.control_dot_area
{
width: 50px;
height: 100%;
float:right;
display: flex;
    align-items: center;
    justify-content: center;

}

.sliderdots
{
width: 10px;
height: 10px;
border: 1px solid #333;
background-color: transparent;
border-radius: 100%;
margin: 10px 0px;
transition: 0.3s ease-in-out;

}

.sliderhref
{
cursor: none;

}

.sliderhref:hover .sliderdots
{
background-color: #333;

}

.dotclicked .sliderdots
{
background-color: #333;

}


#sliderdotsbox
{


}


#brillenlinie1
{
animation-name: brillenlineanim;
animation-duration: 1s;
animation-fill-mode: forwards;
animation-timing-function: ease;
opacity: 0;

}

#brillenlinie2
{
animation-name: brillenlineanim;
animation-duration: 1s;
animation-fill-mode: forwards;
animation-timing-function: ease;
opacity: 0;

}



@keyframes brillenlineanim
{
0% { opacity: 0; margin-top: -80px;}
100% { opacity: 1; margin-top: ;}

}


.downarrow_area
{
width: -webkit-fill-available;
    position: absolute;
    bottom: 0px;
    height: 100px;
    justify-self: center;
    align-self: center;
    margin-bottom: 100px;
    max-width: 1200px;
display: flex;
justify-content: center;
align-items: center;
}

.arrow_box
{
width: 50px;
height: 50px;
transform: scale(0.6);

}

.dwa_line
{
width: 30px;
border-left: 2px solid #fefefe;
height:200px;
margin-top: -100px;
}


.dwa_lineright
{
width: 30px;
border-bottom: 2px solid #fefefe;
height:30px;
margin-left: -14px;
    margin-top: -38px;
    transform: rotate(-45deg);
transition: 0.3s;
}

.dwa_lineleft
{
width: 30px;
    border-bottom: 2px solid #fefefe;
    height: 30px;
    margin-left: -14px;
    margin-top: -32px;
    transform: rotate(45deg);
transition: 0.3s;
}


.downarrowhref
{
cursor: none;
}


.kreis
{
	    width: 25px;
    height: 25px;
    border-radius: 100%;
    /* border: 5px solid #fefefe; */
    position: absolute;
    /* margin: 370px 0px; */
	transition: 0.3s;
	animation-name: kreisanim;
	animation-duration: 2.3s;
	opacity: 1;
	
	visibility: hidden;
	user-select: none;
cursor: none;

}


.kreisbutton:hover .kreis{

	margin-top: 14px;
}




@keyframes kreisanimX{

	0%{opacity:0; margin-top:270px;};
	100%{ margin-top: 370px;opacity: 1;}


}


#downarrow
{
fill: #333;
cursor: none;
transition: 0.3s;
}
.arrow
{
cursor: pointer;
transition: 0.3s;
}


#downarrow_line
{


    width: 25px;
    height: 25px;
fill: #333;
}

.dwa_2_box
{
width: 25px;
    height: 0px;
    position: absolute;
    overflow: hidden;
    display: flex;
    bottom: 14px;
transition: 0.3s;
}


.kreisbutton:hover .dwa_2_box
{
height: 25px;
bottom: 0px;
cursor: none;
}




.kreisbutton:active .dwa_2_box
{
height: 25px;
    bottom: 0px;
}

.kreisbutton:active .kreis
{
    margin-top: 14px;
}

.kreisbutton
{
margin: 60px 0px;
transform: matrix(1.2, 0, 0, 1.2, 0, 0);
}


.kreisbutton:hover .kreis{

animation-name: arrowhover;
animation-duration: 2s ;
animation-iteration-count: infinite;
animation-timing-function: ease;
animation-delay:1s;
animation-fill-mode: forwards;
animation-direction: normal;
transition: 0.3s;
}




@keyframes arrowhover
{
0%{margin-Top: ;}
50%{margin-Top:2px;}
100%{margin-Top: ;}
}

.kreisbutton:hover #downarrow_line{
fill: #a07fa6;
}

.kreisbutton:hover #downarrow{
fill: #a07fa6;
}





