























.curclick {
    transition: 0.1s !IMPORTANT;
    width: 20px !IMPORTANT;
    height: 20px !IMPORTANT;
    transition-delay: 0s !IMPORTANT;
}


.sidemenu {
    position: fixed;
    /* width: 33%; */
    width: 0%;
    height: 100%;
    right: 0px;
    top: 0px;
    background-color: #313131;
    opacity: 0;
    z-index: 90;
    transition: 0.3s ease-in-out;
    transition-delay: 0.3s;
    z-index: 95;
}

.sidemenu_content {
    width: 100%;
    height: 100%;
    padding-left: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sidemenu_buttoncontent {

    font-size: 16px;
    display: grid;

}

.menulink {
    font-family: robotoRegular;
    color: #a0a0a0;
    text-decoration: none;
    line-height: 41px;
    cursor: none;
    transition: 0.3s;
}

.menulink:hover {

    color: #fefefe;

}

.content1260header {
    width: 100%;
    max-width: 1260px;
    top: 80px;
    padding: 0px 30px;
    margin-top: 80px;
    padding-top: 100px;
    display: flex;

}

.social_media_area {
    width: 50px;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;

}


.sm_sidebox {
    width: 100%;



}

.socialmedia {
    width: 20px;
    height: 20px;
    margin: 30px 15px;

}

#instagram {
    width: 100%;
    height: 100%;
    fill: #fefefe;
}


#facebook {
    width: 100%;
    height: 100%;
    fill: #fefefe;
}

#pinterest {
    width: 100%;
    height: 100%;
    fill: #fefefe;
}



.header_mainarea {
    width: 1100px;
    /* height: 100%; */
    display: flex;
    padding-top: 50px;
}

.contentleft50 {
    width: 50%;
    /* height: 100%; */
    left: 0px;
    /* background-color:#ff000055; */
    padding-left: 50px;

}


.contentright50 {
    width: 50%;
    /* height: 100%; */
    right: 0px;
    /* background-color:#ff000088; */
    padding-right: 50px;
}


.brillen_linie {
    width: 450px;
    height: 350px;
    margin-left: 25px;
    transform: rotatey(180deg);
    fill: #313131;
    position: absolute;

}


.brillen_linie2 {
    width: 450px;
    height: 350px;
    margin-right: 25px;
    fill: #313131;
    float: right;

}


.brillenslider {
    width: 450px;
    height: 350px;
    clip-path: url(#svgp);
    display: flex;
    overflow: hidden;
    animation-name: brsliderin;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    opacity: 0;
    animation-delay: 1s;
    animation-duration: 1s;
}

@keyframes brsliderin {

    0% {
        opacity: 0;
        margin-top: -25px;
        margin-left: 22px;
    }

    100% {
        opacity: 1;
        margin-top: ;
        margin-left: ;
    }

}


#svgp {
    width: 450px;
    height: 350px;

}

.maskpath {
    transform: matrix(-5.1, 0, 0, 5.1, 450, 9);
}

.sliderbox {
    width: 100%;
    height: 100%;
    background-color: #0000ff55;
    margin: 0px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -moz-scrollbars-none;
    scroll-behavior: smooth;
    transition: 0.3s;
}


.slideblur {
    filter: blur(8px);
    transition: 0.3s;

}


.sliderbox>div {

    scroll-snap-align: start;
}

@supports (scroll-snap-type) {
    .slider>a {
        display: none;

    }
}

.sliderboxselected>div:target {
    animation-name: slowzoom;
    animation-duration: 10s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    nimation-timing-function: ease-in-out;
    animation-delay: 1s;
}

@keyframes slowzoom {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
        animation-playstate: stop;
    }

}

.sliderimage {
    width: 450px;
    height: 350px;
    margin-top: -490px;
}


.slidimage {
    transform: matrix(1, 0, 0, 1, 0, 490);
}


.titletextbox {
    width: 450px;
    height: 275px;

    margin-left: 50px;
    margin-top: 120px;

}



.titlebig {
    font-size: 70px;
    font-family: covesBold;
    text-transform: uppercase;
    position: absolute;
    letter-spacing: 6.2px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #a07fa6;
    color: #a07fa6;
    padding: 0px 4px;
    line-height: 1;
}


.titlesmall {
    font-size: 55px;
    font-family: covesLight;
    text-transform: uppercase;
    position: absolute;

    letter-spacing: 6.2px;

    color: #fefefe;
    padding: 0px 4px;
    margin-top: 140px;
    overflow: hidden;
}


.subtext1 {
    letter-spacing: 9.2px;

}


.subtext2 {
    line-height: 0.9;
}



.titelbox_render {

    width: 450px;
    height: 140px;
    overflow: hidden;
    position: absolute;
}

.titelbox_render2 {


    height: 49px;
    width: 450px;
    overflow: hidden;
}



/* --------------------------- title animation ------------------- */




.tibi_anim {
    animation-name: tibianim;
    animation-duration: 2s;
    opacity: 0;
    transform: matrix(1, 0, 0, 1, 0, 140);
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

@keyframes tibianim {

    0% {
        transform: matrix(1, 0, 0, 1, 0, 140);
        opacity: 0;
    }


    100% {
        transform: matrix(1, 0, 0, 1, 0, 0);
        opacity: 1;
    }

}


.tism_anim {
    animation-name: tismanim;
    animation-duration: 1s;
    opacity: 0;
    transform: matrix(1, 0, 0, 1, 0, -50);
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

@keyframes tismanim {

    0% {
        transform: matrix(1, 0, 0, 1, 0, -50);
        ;
        opacity: 0;
    }


    100% {
        transform: matrix(1, 0, 0, 1, 0, 0);
        opacity: 1;
    }

}



.tism_anim2 {
    animation-name: tismanim;
    animation-duration: 1s;
    opacity: 0;
    transform: matrix(1, 0, 0, 1, 0, -50);
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
    animation-delay: 1s;
}





.tibi_anim_slide {
    animation-name: tibianimslide;
    animation-duration: 1s;
    opacity: 1;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

@keyframes tibianimslide {

    0% {
        transform: scaleX(1);
        opacity: 1;
    }


    50% {
        transform: scaleX(0);
        opacity: 0;
    }

    100% {
        transform: scaleX(1);
        opacity: 1;
    }

}



.tism_anim_slide {
    animation-name: tismanimslide;
    animation-duration: 1s;
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

@keyframes tismanimslide {

    0% {
        transform: matrix(1, 0, 0, 1, 0, 0);
        opacity: 1;
    }


    50% {
        transform: matrix(1, 0, 0, 1, 0, -50);
        opacity: 0;
    }


    100% {
        transform: matrix(1, 0, 0, 1, 0, 0);
        opacity: 1;
    }
}





.tism_anim2_slide {
    animation-name: tismanimslide2;
    animation-duration: 1.5s;
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
    animation-delay: 0s;
}

@keyframes tismanimslide2 {

    0% {
        transform: matrix(1, 0, 0, 1, 0, 0);
        opacity: 1;
    }


    40% {
        transform: matrix(1, 0, 0, 1, 0, 0);
        opacity: 0;
    }

    41% {
        transform: matrix(1, 0, 0, 1, 0, -50);
        opacity: 0;
    }

    100% {
        transform: matrix(1, 0, 0, 1, 0, 0);
        opacity: 1;
    }
}





/* ----------------------------------------------------------- */



.control_dot_area {
    width: 50px;
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sliderdots {
    width: 10px;
    height: 10px;
    border: 1px solid #fefefe;
    background-color: transparent;
    border-radius: 100%;
    margin: 10px 0px;
    transition: 0.3s ease-in-out;

}

.sliderhref {
    cursor: none;

}

.sliderhref:hover .sliderdots {
    background-color: #fefefe;

}

.dotclicked .sliderdots {
    background-color: #fefefe;

}


#sliderdotsbox {}


#brillenlinie1 {
    animation-name: brillenlineanim;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    opacity: 0;

}

#brillenlinie2 {
    animation-name: brillenlineanim;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    opacity: 0;

}



@keyframes brillenlineanim {
    0% {
        opacity: 0;
        margin-top: -80px;
    }

    100% {
        opacity: 1;
        margin-top: ;
    }

}


.downarrow_area {
    width: -webkit-fill-available;
    position: absolute;
    bottom: 0px;
    height: 100px;
    justify-self: center;
    align-self: center;
    margin-bottom: 100px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.dwa_line {
    width: 30px;
    border-left: 2px solid #fefefe;
    height: 200px;
    margin-left: 24px;
    border-bottom-left-radius: 1px;
    margin-top: 0px;
    transition: 0.3s;
    transform-origin: bottom;
}


.dwa_lineright {
    width: 32px;
    border-bottom: 2px solid #fefefe;
    height: 30px;
    margin-left: -63px;
    /* margin-top: -29px; */
    padding-top: 131px;
    transform: rotate(-45deg);
    transition: 0.3s;

}

.dwa_lineleft {
    width: 32px;
    border-bottom: 2px solid #fefefe;
    height: 30px;
    margin-left: -18px;
    margin-top: -52px;
    transform: rotate(45deg);
    transition: 0.3s;
}

.dwcube_alternatearrow {
    width: 32px;
    height: 32px;
    transform: rotate(45deg);
    border-bottom: 2px solid #fefefe;
    border-right: 2px solid #fefefe;

}


.downarrowhref {
    cursor: none;
}


.kreis {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    /* border: 5px solid #fefefe; */
    position: absolute;
    /* margin: 370px 0px; */
    transition: 0.3s;
    animation-name: kreisanim;
    animation-duration: 2.3s;
    opacity: 1;

    visibility: hidden;
    user-select: none;
    cursor: none;

}


.kreisbutton:hover .kreis {

    margin-top: 14px;
}




@keyframes kreisanimX {

    0% {
        opacity: 0;
        margin-top: 270px;
    }

    ;

    100% {
        margin-top: 370px;
        opacity: 1;
    }


}


#downarrow {
    fill: #fefefe;
    cursor: none;
    transition: 0.3s;
}

.arrow {
    cursor: pointer;
    transition: 0.3s;
}


#downarrow_line {


    width: 25px;
    height: 25px;
    fill: #fefefe;
}

.dwa_2_box {
    width: 25px;
    height: 0px;
    position: absolute;
    overflow: hidden;
    display: flex;
    bottom: 14px;
    transition: 0.3s;
}


.kreisbutton:hover .dwa_2_box {
    height: 25px;
    bottom: 0px;
    cursor: none;
}




.kreisbutton:active .dwa_2_box {
    height: 25px;
    bottom: 0px;
}

.kreisbutton:active .kreis {
    margin-top: 14px;
}

.kreisbutton {
    margin: 60px 0px;
    transform: matrix(1.2, 0, 0, 1.2, 0, 0);
}


.kreisbutton:hover .kreis {

    animation-name: arrowhover;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    transition: 0.3s;
}




@keyframes arrowhover {
    0% {
        margin-Top: ;
    }

    50% {
        margin-Top: 2px;
    }

    100% {
        margin-Top: ;
    }
}

.kreisbutton:hover #downarrow_line {
    fill: #a07fa6;
}

.kreisbutton:hover #downarrow {
    fill: #a07fa6;
}



.dwarrow_box {
    width: 50px;
    height: 250px;
    mix-blend-mode: difference;

}



.downarrowhref:hover .dwa_lineright {
    padding-top: 236px;
    transform: rotate(-90deg);
    margin-left: -150px;
}



.cubearrowholder {
    width: 50px;
    height: 50px;

    transition: 0.3s ease-in;
    position: absolute;
    transition-delay: 0.3s;
    margin-left: 4px;
    transform: matrix(1, 0, 0, 1, -3, -39) scaleX(0);
    opacity: 0;

}



.downarrowhref:hover .cubearrowholder {

    opacity: 1;
    transform: matrix(1, 0, 0, 1, 4, -39) scaleX(1);


}


.downarrowhref:hover .dwa_line {
    transform: scaleY(0.8);
}

.scdowntext {
    position: absolute;
    bottom: 0px;
    width: -webkit-fill-available;
    max-width: 1200px;
    color: #1b1b1b;
    -webkit-text-stroke-color: #313131;
    opacity: 1;
    -webkit-text-stroke-width: 1px;
    font-size: 80px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    bottom: 50px;
    padding-left: 37px;
}

.tscroll {
    display: none;
    letter-spacing: 64px;
}

.tdown {
    letter-spacing: 32px;
    display: none;
}


.mainbody {
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: #fefefe;
}

.content1260 {
    max-width: 1200px;
    margin: 0px 30px;

}


.sprechblase {
    width: 930px;
    height: 400px;
    background-color: #eeeeee;
    border-radius: 10px;
    display: grid;

}

.headbackground {
    position: absolute;
    width: 100%;
    height: 60%;
    background-color: #1b1b1b;

}

.headbackground_curve {
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 20%;
    border-radius: 0% 0% 100% 100%;
    background-color: #1b1b1b;
    transform: scaleY(1.2) scaleX(1.1);

}

.header_white {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fefefe;
}


.block_1 {
    display: flex;
    width: 100%;
    max-width: 1000px;
    transition: 0.5s;
}

.bubbletail {
    width: 70px;
    height: 50px;
    margin-top: 20px;
}

#bubbletailsvg {
    transform: scale(1.4);
    fill: #eeeeee;
}

.b_ueb_block {
    padding-top: 78px;
    float: left;
    padding-left: 80px;
    font-family: covesBold;
    font-size: 24px;
    color: #121212;
    text-align: left;

}


.b_textblock {
    font-size: 16px;
    font-family: robotoRegular;
    color: #3f3f3f;
    text-align: left;
    padding-left: 80px;
    line-height: 31px;
    letter-spacing: 0.3px;
    margin-top: -48px;

}


.aktionenbox {
    width: 1200px;
    height: 600px;
    background-color: #ff0000;
    margin: 0px 30px;
}

.block_2 {
    padding-top: 150px;
    width: 100%;
    margin: 0px;
}

.aktionabschnitt_bg {
    width: 100%;

    overflow: hidden;


    /* color is changing by sliding */
    background-color: #faf2a0;
    transition: 0.8s;
}


.aktionfeld_links {
    width: 370px;
    height: 100%;
    background-color: #1b1b1b;
    float: left;
    overflow: hidden;

}



.aktionfeld_rechts {
    width: 830px;
    height: 100%;
    background-color: #0000ff;
    float: right;
    overflow: hidden;


}


.aktionsueberschrift {
    font-family: covesBold;
    font-size: 55px;
    color: #fffbbf;
    text-transform: uppercase;
    padding: 50px;
    padding-left: 52px;
    text-align: center;
    letter-spacing: 8px;
}

.t_aktion {
    text-align: center;
    letter-spacing: 14px;
    line-height: 80px;


}


.teilnahmebutton {
    width: 100%;
    height: 150px;

    background-color: #fffbbf;

    color: #1b1b1b;
    font-family: covesLight;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.4px;
    transition: 0.3s;
}


.teilnahmebutton:hover {

    color: #fefefe;
    background-color: #a07fa6;

}




.teilnahmeinfo {
    color: #fefefe;
    font-size: 16px;
    font-family: covesLight;
    text-align: center;
    height: 110px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 20px;

}


.aktionsliderimage {
    scroll-snap-align: start;
    transition: 0.3s;
}


.slider_aktionen {

    width: 830px;
    height: 600px;
    display: flex;
    overflow-x: scroll;
    transition: 0.3s;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -moz-scrollbars-none: ;
    scroll-behavior: smooth;

}



.akbg1 {
    background-color: #faf2a0;
}

.akbg2 {
    background-color: #fa6f08;
}

.akbg3 {
    background-color: #5ae8f4;
}

.akbg4 {
    background-color: #383232;
}

.akbg5 {
    background-color: #c2c2c2;
}

.akbg6 {
    background-color: #1b2848;
}


.block_3 {
    padding-top: 150px;
    width: 100%;
    margin: 0px;
    transition: 0.5s;
}


.ueberschrift_blocks {
    font-family: covesBold;
    color: #121212;
    font-size: 24px;
    text-align: center;
}

.mailbox {
    margin-top: 50px;
    background-color: #dbdbdb;
    width: 1050px;
    height: 410px;
    border-radius: 10px;
    display: grid;
    overflow: hidden;
    transition: 0.5s;
}

.mailboxcontent {

    padding: 50px;

}

.inputtext {

    height: 45px;
    background-color: #eeeeee;
    color: #121212;
    padding-left: 10px !IMPORTANT;
    font-family: robotoRegular;
    border: 0px solid;
    border-radius: 2px;
    padding: 0px;
    cursor: none;
}

.inputtext:focus {
    border: 0px solid;
    outline: 0px solid;
}

.inputtshort {
    width: 190px;
}

.mailbox_left {
    float: left;
    width: 450px;

}

.mailbox_right {
    float: right;
    width: 450px;

}

.mailtextarea {
    width: 430px;
    height: 185px;
    resize: none;
    color: #121212;
    background-color: #eeeeee;
    border: 0px solid;
    outline: 0px solid;
    padding: 10px;
    cursor: none;
    border-radius: 2px;
}

.inputtlong {
    width: 440px;
    margin-top: 30px;

}

.mailbox_bottomrow {
    height: 100px;
    background-color: #eeeeee;

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.basic_button {
    width: 200px;
    height: 50px;
    border: 0px solid;
    background-color: #1b1b1b;
    color: #fefefe;
    font-family: robotoRegular;
    font-size: 16px;
    text-transform: uppercase;
    transition: 0.3s;
    cursor: none;
    outline: none;

}

.basic_button:hover {
    background-color: #a07fa6;
}

.mailbox_sended {
    width: 100%;
    height: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    color: #1b1b1b;
    font-size: 16px;
    font-family: robotoRegular;
    display: none;
}


.block_4 {
    width: 100%;
    height: 400px;
    padding-top: 150px;

}

.infofeld {
    background: url(images/SunGlasesInStore.jpg)no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-attachment: fixed;

}

.infofeld_overlay {
    background-color: #000000;
    opacity: 0.7;
    width: 100%;
    height: 300px;
    padding: 50px 0px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.infofeld_content {
    width: 100%;
    max-width: 1200px;
    padding: 0px 30px;
}

.infofeld_links {
    width: 50%;
    float: left;
    height: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.infofeld_rechts {
    width: 50%;
    float: right;
    height: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infotext_fett {
    color: #fefefe;
    font-size: 24px;
    font-family: covesBold;
    text-align: left;
}

.infotext_small {
    color: #fefefe;
    font-size: 16px;
    font-family: robotoRegular;
    margin-left: 37px;
    text-align: left;
}


.block_5 {
    width: 100%;
    background-color: #1b1b1b;
}

.footercontent {
    width: 1200px;
    height: 260px;
    padding: 150px 30px;
}

.footerzeile1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fzblock {
    font-size: 16px;
    color: #dbdbdb;
    font-family: robotoRegular;
    text-align: left;
    line-height: 1.6;
}

.impressum {
    font-size: 24px;
}

.basic_href {
    text-decoration: underline;
    color: #dbdbdb;
    cursor: none;
}

.footerzeile2 {
    font-size: 16px;
    color: #dbdbdb;
    font-family: robotoRegular;
    text-align: left;
    line-height: 1.6;
    padding-top: 50px;
}


.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    background-color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingbox {
    display: grid;
    text-align: center;
}

.loadinglogo {
    width: 100px;
    height: 100px;
    background: url('logo/logo.svg')no-repeat;
    background-size: contain;
}

.loadingtext {
    font-family: covesLight;
    font-size: 16px;

}

.outofviewleft {
    transform: matrix(1, 0, 0, 1, -300, 0);
    transition: 0.5s;
    opacity: 0;
}

.outofviewright {
    transform: matrix(1, 0, 0, 1, 300, 0);
    transition: 0.5s;
    opacity: 0;
}

.outofviewbottom {
    transform: matrix(1, 0, 0, 1, 0, -150);
    transition: 0.5s;
    opacity: 0;
}

.mlogohref {
    text-decoration: none;
    outline: none;
    cursor: none;
}