html {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scrollbar-width: none;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    cursor: none;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    cursor: none;
    overflow-x: hidden;
    scrollbar-width: none;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.screenSizeWarning {
    display: none;
}

.element::-webkit-scrollbar {
    width: 0 !important
}

::-webkit-scrollbar {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a:hover {
    cursor: none;
}

@font-face {
    font-family: CovesBold;
    src: url('fonts/CovesBold.otf') format('opentype');
}

@font-face {
    font-family: CovesLight;
    src: url('fonts/CovesLight.otf') format('opentype');
}

@font-face {
    font-family: robotoRegular;
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
}

.cursorcontainer {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    transition: 0.1s;
    transform: translate(-50%, -50%);
    z-index: 1000;
    mix-blend-mode: difference;
    pointer-events: none;
    border-radius: 100%;
    backdrop-filter: blur(0px);
}

.cursor {
    border: 1px solid #fefefe;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    transition: 0.5s;
    background-color: #fefefe;
}

.headarea {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    font-family: CovesBold;
    display: flex;
    justify-content: center;
}

.menurow {
    width: 100%;
    height: 80px;
    top: 0px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.menumaxcontent {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_logo {
    width: 60px;
    fill: #ffffff;
    height: 50px;
    float: left;
    overflow: hidden;
    transition: 0.3s;
}

.menuoverlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #00000055;
    top: 0px;
    opacity: 0;
    display: none;
    z-index: 90;
    transition: 0.3s;
}
/* ------------------------------------------------------Burger Menu ----------------------------- */
.burgermenu_field {
    width: 26px;
    height: 26px;
    float: right;
    padding: 0px;
    background-color: transparent;
    border: 0px solid;
    outline: none;
    transition: 0.3s;
    cursor: none;
}

.burgermenu_lineholder {
    transition: 0.35s ease-in-out;
}

#bml_1 {
    margin-top: 8px;
}

#bml_2 {
    margin-top: 8px;
}

.burgermenu_field:hover {
    cursor: none;
}

.burgermenu_field:hover .burgermenu_line {
    background-color: #a07fa6;
}

.burgermenu_field:hover #bml_0:after {
    background-color: #a07fa6;
}

.burgermenu_field:hover #bml_0:before {
    background-color: #a07fa6;
}

.burgermenu_line {
    width: 100%;
    height: 2px;
    display: block;
    pointer-events: none;
    transition: 0.3s ease-in-out;
    outline: none;
}

.burgermenu_line:after {
    transition: 0.3s ease-in-out;
    content: '';
    display: inline-block;
    width: 26px;
    height: 2px;
    position: absolute;
    margin-top: 9px;
    margin-left: -13px;
}

.burgermenu_line:before {
    transition: 0.3s ease-in-out;
    content: '';
    display: inline-block;
    width: 26px;
    height: 2px;
    position: absolute;
    margin-top: -9px;
    margin-left: -13px;
}
/* --------------------------- MENU LINE COLOR ------------------------ */
.bml_color {
    background-color: #fefefe;
}

.bml_color:before {
    background-color: #fefefe;
}

.bml_color:after {
    background-color: #fefefe;
}

.bml_color_open {
    background-color: #a07fa6;
}

.bml_color_open:before {
    background-color: #a07fa6;
}

.bml_color_open:after {
    background-color: #a07fa6;
}

.bml_color_scroll {
    background-color: #121212;
}

.bml_color_scroll:before {
    background-color: #121212;
}

.bml_color_scroll:after {
    background-color: #121212;
}

.bml_color_scroll_open {
    background-color: #a07fa6 !IMPORTANT;
}


.bml_color_scroll_open:before {
    background-color: #a07fa6 !IMPORTANT;
}


.bml_color_scroll_open:after {
    background-color: #a07fa6 !IMPORTANT;
}
/* ------------------------- ANIMATIONS MENU ----------------------- */
.bmactive .burgermenu_line:before {
    animation-name: bmenulineanim;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.bmactive .burgermenu_line:after {
    animation-name: bmenulineanim_3;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.bmactive .burgermenu_line {
    animation-name: bmenulineanim_2;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
}

@keyframes bmenulineanim {
    0% {
        margin-top: -9px;
    }
    100% {
        margin-top: 0px;
    }
}

@keyframes bmenulineanim_2 {
    0% {
        transform: 10px;
    }
    100% {
        transform: rotate(225deg);
    }
}

@keyframes bmenulineanim_3 {
    0% {
        margin-top: 9px;
        transform: rotate(0deg);
    }
    25% {
        margin-top: 0px;
        transform: rotate(0deg);
    }
    50% {
        margin-top: 0px;
        transform: rotate(0deg);
    }
    100% {
        margin-top: 0px;
        transform: rotate(90deg);
    }
}
/* ------------------------- ANIMATIONS REVERSE MENU ----------------------- */
.bmactive_re .burgermenu_line:before {
    animation-name: bmenulineanim_re;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

.bmactive_re .burgermenu_line:after {
    animation-name: bmenulineanim_3_re;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

.bmactive_re .burgermenu_line {
    animation-name: bmenulineanim_2_re;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.4s;
    transform: rotate(225deg);
}

@keyframes bmenulineanim_3_re {
    0% {
        margin-top: 0px;
        transform: rotate(90deg);
    }
    25% {
        margin-top: 0px;
        transform: rotate(0deg);
    }
    50% {
        margin-top: 0px;
        transform: rotate(0deg);
    }
    100% {
        margin-top: 0px;
        transform: rotate(90deg);
    }
}

@keyframes bmenulineanim_2_re {

    0% {
        transform: rotate(225deg);
    }
    90% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes bmenulineanim_re {
    0% {
        margin-top: 0px;
    }
    50% {
        margin-top: 0px;
        transform: rotate(0deg);
    }
    100% {
        margin-top: 0px;
        transform: rotate(0deg);
    }
}
/* ------------------------- ANIMATION REVERSE END ---------------------- */
/* ---------------------------------------------------- BurgerMenu End ------------------------- */

@media only screen and (max-width: 1289px) {
    body {
        overflow: hidden;
    }

    main {
        display: none;
    }

    header {
        overflow: hidden;
    }

    .screenSizeWarning {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 10000;
        background: #000000aa
    }

    .screenSizeWarning-Banner {
        width: 100%;
        padding: 20px;
        background-color: #c92020a5;
        color: #fefefe;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(10px);
        user-select: none;
    }

}