

.screenSizeWarning {
    display: none;
}

@media  only screen and (max-width: 1289px) {
    body {
        overflow: hidden;
    }
    main {
        display: none;
    }

    .screenSizeWarning {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position:absolute;
        z-index: 10000;
    }

    .screenSizeWarning-Banner {
        width: 100%;
        padding: 20px;
        background-color: #c92020a5;
        color: #fefefe;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(10px);
    }
    
}